body{
    text-align: center;
    background-color: #91AEC1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container{
    flex: auto;
    display: flex;
    justify-content: center;
}

.section{
    margin: 1em;
}

canvas{
    border-radius: .2em;
}

input, select, button{
    background-color: #bfd7ea;
    border-radius: .2em;
    border: none;
}